.day-vertical-banner {
    display: flex;
    padding: 1.5rem;
    cursor: pointer;
    vertical-align: middle;
}

.button-menu {
    padding-right: 1rem;

}

.open {
    transform: rotate(180deg);

}

.percent-vertical-banner {
    color: red;
    padding-right: 0.5rem;
    font-size: small;
    vertical-align: bottom;
    font-weight: bold;
}