.chapter-banner {
    color: grey;
    font-size: small;

}

.chapter-container {
    display: flex;
    padding-left: 4rem;
    padding-bottom: 1rem;
    vertical-align: middle;
}

.diagram-progress {
    padding-right: 1rem;
}