.video-title-container {
    background: white;
    opacity: 85%;
    margin: 1rem;
    border-radius: 10px;
    display: flex;
    height: 110px;
}

.video-title {
    padding: 2rem;
}


.span-sub-chapter {
    font-size: smaller;
    color: grey;
    font-weight: 500;
}